.btn {
    position: relative;
    display: block;
    margin: 10px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius:25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #e85408;
    color: #ecf0f1;
    transition: background-color .6s;
    text-transform:uppercase;
    font-size:.75em;
    &-small{
        margin:0;

    }
}

.btn:hover, .btn:focus {
    background-color: #e85408;
}

    .btn > * {
        position: relative;
    }

    .btn span {
        display: block;
        padding: 12px 60px;
    }

    .btn:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 0;
        padding-top: 0;
        border-radius: 100%;
        background-color: rgba(236, 240, 241, .3);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn:active:before {
        width: 120%;
        padding-top: 120%;
        transition: width .2s ease-out, padding-top .2s ease-out;
    }
