.header
    .header-memu-area
        .logo-box
           a.logo
            img.logo-img
        .h-menu
            ul.menu
                li.menu__item
                    a(href='#') home
                li.menu__item
                    a(href='#') service
                li.menu__item
                    a(href='#') works
                li.menu__item
                    a(href='#') team
                li.menu__item
                    a(href='#') contact
    
        
    h1.main__heading.clearfix We are digital agency 
    button.btn
        span see portfolio
    ul.dots
        li.dot.dot__active
        li.dot
        li.dot